<a href="https://colab.research.google.com/github/ArcanjoMessiah/Queue/blob/master/Atividade_SQL_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 02_create_schema.py
import sqlite3
# conectando...

conn = sqlite3.connect('clientes.db')
# definindo um cursor
cursor = conn.cursor()

# criando a tabela (schema)
cursor.execute("""
CREATE TABLE  if not exists produto (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        codbarras INT(12) NOT NULL,
        descricao TEXT NOT NULL,
        preco_unitario FLOAT NOT NULL);

""")
print('Tabela criada com sucesso.')

cursor.execute("""

CREATE TABLE  if not exists produto (
        codcateg INTEGER NOT NULL PRIMARY KEY,
        nome TEXT NOT NULL,
        descricao TEXT NOT NULL);


""")
print('Tabela criada com sucesso.')

Tabela criada com sucesso.
Tabela criada com sucesso.